* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}

button:hover {
}

body {
  font-family: sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}
/*Variables */
/* Rest */
img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}
a:hover {
  text-decoration: none;
}

.banner-items {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.booking-caption {
  background-color: #01bcd4;
  padding: 5px;
  text-align: center;
  color: #fff;
}
